* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gloria Hallelujah', serif;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/abfbb793-2801-49f3-b9fd-90708035c1f0/d7zcwt3-340f8c02-67bc-4d9e-82f0-5e79c9e0f8b4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYWJmYmI3OTMtMjgwMS00OWYzLWI5ZmQtOTA3MDgwMzVjMWYwXC9kN3pjd3QzLTM0MGY4YzAyLTY3YmMtNGQ5ZS04MmYwLTVlNzljOWUwZjhiNC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.rtS9iiej6ZWOvGD-QsmlRhvi2_mGgPq_0fwkkllB_Yo');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-weight: lighter;
    background-repeat: no-repeat;
}

.game-board {
    /* background-image: url('https://t4.ftcdn.net/jpg/01/55/13/17/360_F_155131769_e5MubWtYLjsM43cR8nWseeO29GEEkHsE.jpg'); */
    background-color: rgba(225,225,225,.7);
    background-size: 150px;
    background-position: center;
    height: 49vh;
    text-align: center;
    border: 1px solid white;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

#health {
    border: 4px solid red;
    border-radius: 3rem;
    justify-self: flex-end;
    position: relative;
    align-self: flex-end;
    background-color: rgba(200, 200, 200, 0.473);
}
.fa-beer {
    color: maroon;
    font-size: 50px;
    padding: 5px 30px 0 0;
}
#main-game-div {
    margin: 10px 75px 0 75px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

div {
    margin: 10px;
}

#button-div {
   height: 50vh;
}

.btn {
    font-size: 2rem;
}

.players {
    font-size: 3.5rem;
    margin: 35px;
}

.players:hover {
    background-color: white;
    color: gold;
}

.deal-cards:hover {
    background-color: black;
    color: gold;
}

.reset-button, .deal-cards {
    font-size: 2rem;
    margin: 35px;
}

#help-button-2 {
    font-size: 3rem;
}

input {
    font-size: 2rem;
    background-color: rgba(200, 200, 200, 0.582);
    color: white;
    font-weight: lighter;
}

::placeholder {
    font-size: 2rem;
    color: white;
    font-weight: lighter;
}


#boxes {
    border: 3px solid red; 
    padding: 20px; 
    margin-bottom: 30px;
    border-radius: 3rem;
}

#boxes:hover {
    border: 1px solid white;
}

/* credit to https://css-tricks.com/html5-meter-element/ */

meter::-webkit-meter-bar {
    background : none;
    background-color :whitesmoke;
    box-shadow : 0 5px 5px -5px #333 inset;
    animation: animate-stripes 5s linear infinite;
    background-image:
    linear-gradient(
        135deg,
        transparent,
        transparent 33%,
        rgba(0, 0, 0, 0.1) 33%,
        rgba(0, 0, 0, 0.1) 66%,
        transparent 66%
    );
    background-size: 50px 25px;
}
    
@keyframes animate-stripes {
    to { background-position: -50px 0; };
}
    
meter::-webkit-meter-optimum-value {
    background: green;
}
meter::-webkit-meter-sub-optimum-value {
    background: gold;
}
meter::-webkit-meter-sub-sub-optimum-value {
    background: crimson;
}

    
#howTo {
    position: absolute;
    top: -10px;
    left: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,.9);
    padding: 50px 30px 30px 30px;
    color: white;
}

.fa-angle-double-down {
    color: white;
    font-size: 100px;
}
    
#introduction-to-game {
    display: flex;
    position: absolute;
    top: -10px;
    left: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,.9);
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

#win-overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: -10px;
    left: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,.9);
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}
#lose-overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: -10px;
    left: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,.9);
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

#credits {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: -10px;
    left: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,.9);
    padding: 30px;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px 0 50px;
    font-family: Arial, Helvetica, sans-serif;;
}

#exit-button {
    font-size: 2rem;
}

#exit-button:hover, .reset-button:hover {
    color: red;
    background-color: white;
}

.fa-laugh-wink {
    font-size: 100px;
    color: gold;
}

.fa-frown {
    font-size: 100px;
    color: gold;
}

ul#social-media li {
    display: inline;
}


#board-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    min-height: 650px;
    background-image: url('https://cdn3.vectorstock.com/i/thumb-large/54/12/watercolor-white-stripes-background-on-gray-vector-16395412.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.fa-drum, .little-guitar {
    font-size: 200px;
    position: absolute;
    left: 50px
}

.howto-text {
    line-height: 140%;
}

#second-col, #first-col, #third-col {
    display: flex;
    flex-direction: column;
}

#second-col {
    align-items: center;
}




#third-col {
    justify-content: center;
}

span.text-primary, span.text-danger, span.text-success, u.text-warning {
    display: contents;
}

.music-btn {
    background-color: transparent;
    color: #fff;
    font-size: 78px;
    border: none;
    display: block;
    margin: 0 auto;
    opacity: .3;
    transition: all linear .2s;
}

.music-btn:hover {
    opacity: 1;
}

.credits-button:hover {
    background-color: white;
    color: green;
}

.fa-pause-circle {
    display: none;
}


/* give credits to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card for the card flip */

.flip-card {
    align-self: center;
}

 .card-flip {
    background-color: transparent;
    position: relative;
 }

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .9s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-image: linear-gradient(to top, rgba(34, 193, 195, .9), rgba(253, 187, 45, .9));
    color: white;
    transform: rotateY(180deg);
  }

  #p1-cards, #p2-cards {
      display: flex;
  }

.slideIn {
    overflow: hidden; 
    white-space: normal;
    margin: 0 auto;
    letter-spacing: .15em; 
    position: relative;
    animation: 
    slidein 2.25s;
    line-height: 150%;
}
  
  @keyframes slidein {
    from { margin-top: 100% }
    to { margin-top: 1}
  }


 