* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gloria Hallelujah', serif;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/abfbb793-2801-49f3-b9fd-90708035c1f0/d7zcwt3-340f8c02-67bc-4d9e-82f0-5e79c9e0f8b4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYWJmYmI3OTMtMjgwMS00OWYzLWI5ZmQtOTA3MDgwMzVjMWYwXC9kN3pjd3QzLTM0MGY4YzAyLTY3YmMtNGQ5ZS04MmYwLTVlNzljOWUwZjhiNC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.rtS9iiej6ZWOvGD-QsmlRhvi2_mGgPq_0fwkkllB_Yo');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95vh;
    width: 100vw;
    margin: 20px;
    min-width: 100%;
    min-height: 100%;
    font-weight: lighter;
}

.game-board {
    background-color: rgba(200, 200, 200, 0.473);
    height: 70vh;
    text-align: center;
    border: 1px solid white;
    margin: 8px;
}

#main-game-div {
    margin: 10px 75px 0 75px;
}

#title {
    margin: 40px;
}

div {
    margin: 10px;
}

#button-div {
   height: 50vh;
}

.btn {
    font-size: 4rem;
}
.btn:hover {
    font-size: 4.2rem;
}

.players {
    font-size: 3.5em;
    margin: 35px;
    background-color: rgba(200, 200, 200, 0.473);
}

#reset-button, #help-button {
    font-size: 2em;
    margin: 35px;
    background-color: rgba(200, 200, 200, 0.582);
}
#help-button:hover, #reset-button:hover {
    font-size: 3em;
    margin: 35px;
    background-color: rgba(200, 200, 200, 0.582);
}



.overlay{
    opacity:0.8;
    background-color: rgba(0,0,0,.9);
    position:fixed;
    color: white;
    width:100%;
    height:100%;
    top: 25px;
    left: 25px;
}

input {
    font-size: 2rem;
    background-color: rgba(200, 200, 200, 0.582);
    color: white;
    font-weight: lighter;
}

::placeholder {
    font-size: 2rem;
    color: white;
    font-weight: lighter;
}

#howTo {
    position: absolute;
    top: 10px;
    left: 40px;
    right: 40px;
    bottom: 10px;
    min-width: 1900px;
    min-height: 1000px;
    background-color: rgba(0,0,0,.9);
    padding: 30px;
    color: white;
}

#exit-button {
    font-size: 3rem;
}

#exit-button:hover {
    background-color: white;
    color: green;
    font-size: 4rem;
}

#player-one-board, #player-two-div {
    min-width: 800px;
    min-height: 850px;
}



#board-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    min-height: 700px;
}

#health-screenshot {
    width: 75%;
    height: 33%;
    border-radius: 3rem;
    position: relative;
}

.howto-text {
    line-height: 140%;
}




#second-col, #first-col, #third-col {
    display: flex;
    flex-direction: column;
}

span.text-primary, span.text-danger, span.text-success, u.text-warning {
    display: contents;
}


/* give credits to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card for the card flip */

.flip-card {
    align-self: center;
}

 .card-flip {
    background-color: transparent;
    position: relative;
 }

.flip-card {
    background-color: transparent;
    width: 235px;
    height: 250px;
    perspective: 1000px;
    margin-bottom: 60px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  #p1-cards, #p2-cards {
      display: flex;
  }

/* give credits to css-tricks https://css-tricks.com/snippets/css/typewriter-effect/*/

#slideIn {
    overflow: hidden; 
    white-space: normal; /*Keeps the content on a single line*/
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; 
    position: relative;
    animation: 
    slidein 2s;
    line-height: 150%;
    /* blink-caret .5s step-end 10; */
}
  
  @keyframes slidein {
    from { margin-top: 100% }
    to { margin-top: 1}
  }
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  } */

 